<h1>New game</h1>

<div class="new-game">
<% @letters.each do |letter| %>
<p class="letter"><%= letter %></p>
<% end %>
</div>

<p>What is the longest word you can find?</p>
<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <!-- Pour avoir accès à @letters dans la méthode score, il faut le faire passer de #new à #score -->
  <!-- Pour ça, on crée un hidden_field_tag (pas d'intérêt que notre user le voie) avec comme value notre fameuse grid @letters -->
  <%= hidden_field_tag :grid, @letters %>
  <!-- Attention, ma grille de lettre est sous forme de STRING, et non plus d'ARRAY -->

  <input type="text" name="attempt" placeholder="Give it a try!">
  <input type="submit" value="Play">
  <!-- ... -->
</form>
