/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .new-game {
  display: flex;
  /* justify-content: ; */
  align-items: center;
  flex-wrap: wrap;
 }

 .letter {
  display : flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(9, 124, 232, 0.795);
  padding: 10px;
  color: white;
  font-weight: bold;
  margin: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 .linkto {
  text-decoration: none;
 }
